@page
@model Portfolio.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div id="personal-info">
    <div class="container">
        <div id="prof-info" style="color: rgb(49,48,56)">
            Я студент, учусь в Санкт-Петербурге.<br>
            Нахожусь в поиске вакансии WEB-разработчика. <br>
            <a class="unselected_tab" style="color: #9733EE;" href="#specialization">Мой стек</a>: C#, JavaScript, HTML, CSS, SQL. <br>
        </div>
    </div>
</div>
<div id="specialization">
    <div class="container">
        <h2>Специализация</h2>
        <div id="spec-container" class="white-text-info" style="color: black;">
            <div>
                <div id="prof-info" style="color: rgb(49,48,56)">
                    C#:<br><br>
                </div>
                ASP.NET Core<br><br>Blazor<br><br>Razor Pages
            </div>
            <div>
                <div id="prof-info" style="color: rgb(49,48,56)">
                    JavaScript:<br><br>
                </div>
                TypeScript<br><br>React<br><br>JQuery
            </div>
            <div>
                <div id="prof-info" style="color: rgb(49,48,56)">
                    HTML/CSS:<br><br>
                </div>
                Tailwind<br><br>Bootstrap<br><br>SCSS/Sass
            </div>
            <div>
                <div id="prof-info" style="color: rgb(49,48,56)">
                    SQL:<br><br>
                </div>
                PostgreSQL<br><br>SQLite<br><br>MS SQL Server
            </div>
        </div>
    </div>
</div>
<div id="my-works">
    <div class="container">
        <h2>Опыт работы</h2>
        <div class="white-text-info">
            ООО «АЛГОРИТМИКА»<br>
            Международная школа программирования и математики<br>
            Позиция: Преподаватель<br>
            Стаж: 1 год
        </div>
    </div>
</div>
<address>
    <div class="container">
        <h2>Интересы</h2>
        <div class="contact-grid white-text-info" style="color: black;">
            <div>Создание веб-сервисов на ASP.NETCore + JavaScript</div>
            <div>Разработка игр на Unity</div>
            <div>Фотография</div>
            <div>Изучение языков программирования</div>
            <div>Совершенствование имеющихся навыков</div>
            <div>Изучение иностранных языков</div>
            <div>Графический дизайн</div>
            <div>Создание сайтов</div>
            <div>Участие в хакатонах</div>
        </div>
    </div>
</address>
